extends base.pug

block scripts
  script(src='/static/index.js')


block style
  style

    include ../static/style.css
        

block content
       

    section#introSection   
         div Welcome To Harry Dance's Academy

         .small Eat Dance Sleep Repeat

    section#missionSection
        h2 Our Mission
        .card.margin 
         h3 Dance perfection
          div.card-box 
            div.card-img 
              img(src="../static/img/1.png")


            div.card-content
              p This is the best dance academy of the universe

        div.card 
         h3 Dance the way you like
          div.card-box 
            div.card-img 
              img(src="../static/img/2.png")


            div.card-content
              p This is the best dance academy of the universe

        div.card 
         h3 Expert teaching
          div.card-box 
            div.card-img 
              img(src="../static/img/3.png")


            div.card-content
              p This is the best dance academy of the universe

       
      

    section#sponsorSection
        h2 Our Sponsors
        #sponsors
          img(src="../static/img/logo1.png", alt="Sponsor Image",class="spImage")
          img(src="../static/img/logo2.png", alt="Sponsor Image",class="spImage")
          img(src="../static/img/logo3.png", alt="Sponsor Image",class="spImage")
          img(src="../static/img/logo4.png", alt="Sponsor Image",class="spImage")
     

 
